<section class="max-w-7xl mx-auto px-6 py-20">

  <!-- PROFILE -->
    <div class="flex items-center gap-9 mb-12">
            <div class="flex-shrink-0">
            <img
                src="photo.png"
                alt="profile"
                class="w-32 h-40 md:w-36 md:h-40 object-cover rounded-2xl shadow-[0_10px_30px_rgba(113,85,122,0.6)] hover:scale-105 transition-transform duration-300">
            </div>

            <div class="max-w-2xl">
                <h1 class="text-5xl font-bold mb-4 text-[rgb(209,131,169)]">{{ 'NAV.PROFILE' | translate }}</h1>
                <p class="text-gray-600 leading-relaxed dark:text-gray-100">
                    {{ 'PROFILE.title' | translate }}
                </p>
            </div>
    </div>

  <!-- MAIN GRID -->
    <div class="grid md:grid-cols-2 gap-12 items-start">
        <div class="space-y-6">
           <div class="mb-6">

                <h2 *ngIf="activeTab === 'education'" class="text-[25px] font-bold text-[rgb(209,131,169)] flex items-center gap-3 mb-3">
                    <span class="material-symbols-outlined text-[28px]">school</span>
                    Education
                </h2>

                <h2 *ngIf="activeTab === 'experience'" class="text-[25px] font-bold text-[rgb(209,131,169)] flex items-center gap-3 mb-3">
                    <span class="material-symbols-outlined text-[28px]">work</span>
                   {{ 'PROFILE.work_experience' | translate }}
                </h2>


                <div class="inline-flex gap-3 p-2 mx-8 rounded-xl shadow-md bg-[rgb(243,200,221)]/10 dark:bg-slate-800">
                    <button 
                        (click)="setTab('education')"
                        [ngClass]="{
                            'bg-[rgb(209,131,169)] text-white': activeTab === 'education',
                            'text-[rgb(209,131,169)]': activeTab !== 'education'
                        }"
                        class="px-4 py-2 rounded-lg text-sm transition">
                        Education
                    </button>

                    <button 
                        (click)="setTab('experience')"
                        [ngClass]="{
                            'bg-[rgb(209,131,169)] text-white': activeTab === 'experience',
                            'text-[rgb(209,131,169)]': activeTab !== 'experience'
                        }"
                        class="px-4 py-2 rounded-lg text-sm transition">
                       {{ 'PROFILE.work_experience' | translate }}
                    </button>
                </div>
            </div>

      <!-- EDUCATION LIST -->
            <div *ngIf="activeTab === 'education'" class="relative ml-6 border-l-2 border-[rgb(209,131,169)] dark:border-pink-400">
                <div class="mb-5 ml-6 relative" *ngFor="let edu of educationList">
                    <span class="absolute -left-8 top-1 w-4 h-4 rounded-full bg-[rgb(209,131,169)] animate-bounce dark:bg-pink-400 ring-2 ring-white dark:ring-slate-900"></span>
                    <h3 class="text-lg font-semibold text-[rgb(113,85,122)] dark:text-white">{{ t(edu.key) }}</h3>
                    <p class="text-sm text-gray-500 dark:text-gray-300">{{ edu.institute }} — {{ edu.period }}</p>
                </div>
             </div>

      <!-- WORK EXPERIENCE LIST -->
            <div *ngIf="activeTab === 'experience'" class="relative ml-6 border-l-2 border-[rgb(209,131,169)] dark:border-pink-400">
                <div class="mb-5 ml-6 relative" *ngFor="let exp of experienceList">
                    <span class="absolute -left-8 top-1 w-4 h-4 rounded-full bg-[rgb(209,131,169)] animate-bounce dark:bg-pink-400 ring-2 ring-white dark:ring-slate-900"></span>
                    <h3 class="text-lg font-semibold text-[rgb(113,85,122)] dark:text-white">{{ t(exp.titleKey) }}</h3>
                    <p class="text-sm text-[rgb(209,131,169)]">{{ exp.institute }} — {{ exp.period }}</p>
                    <ul class="list-disc ml-6 mt-2 text-sm text-gray-500 dark:text-gray-300 space-y-1">
                        <li *ngFor="let task of exp.tasksKeys">{{ t(task) }}</li>
                    </ul>
                </div>
            </div>

    <!-- CERTIFICATIONS = -->
            <div class="mt-8 ">
                <h2 class="text-[25px] font-bold text-[rgb(209,131,169)] flex items-center gap-3 mb-4">
                    <span class="material-symbols-outlined text-[28px]">workspace_premium</span>
                    Certifications
                </h2>

                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4 justify-start">

  <div *ngFor="let cert of certifications"
    class="flex flex-col items-center bg-[rgb(243,200,221)]/20 p-5 rounded-xl border border-[rgb(243,200,221)] shadow-sm dark:bg-slate-800 text-center w-[250px] hover:scale-105 transition duration-300 cursor-default">

    <h4 class="text-lg font-semibold text-[rgb(209,131,169)] mb-1">
      {{ cert.name }}
    </h4>

    <span class="material-symbols-outlined text-3xl text-[rgb(113,85,122)] mb-1">
      emoji_events
    </span>

    <p class="text-xs text-gray-500 dark:text-gray-300 mb-1">
      {{ t(cert.key) }}
    </p>

    <p class="text-[11px] text-[rgb(209,131,169)] mb-1">
      {{ cert.place }}
    </p>

    <span class="text-[15px] text-gray-400 dark:text-gray-500">
      {{ cert.date }}
    </span>

  </div>


                   
                </div>
            </div>
        </div>
        


    <!-- RIGHT COLUMN: SKILLS -->
        <div class="space-y-6">

      <!-- FRONTEND SKILLS -->
            <div class="bg-[rgb(243,200,221)]/10 p-6 rounded-2xl border border-[rgb(243,200,221)] shadow-sm dark:bg-slate-800">
                <h2 class="text-2xl font-bold mb-6 flex items-center gap-3 text-[rgb(209,131,169)]">
                    <span class="material-symbols-outlined text-[25px] text-[rgb(209,131,169)]">web</span>
                     {{ 'PROFILE.skills_front' | translate }}
                </h2>
                <div class="flex flex-col sm:flex-row gap-6 items-start">
                  <div class="grid grid-cols-3 sm:grid-cols-2 gap-3 w-fit mx-auto sm:w-[190px]">
                        <img src="typescript.jpg" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                        <img src="HTML.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                        <img src="javascript.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                        <img src="tailwind.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                    </div>
                    <div class="w-full space-y-2">
                        <div class="group" *ngFor="let skill of frontendSkills">
                            <div class="flex justify-between items-center mb-1">
                                <span class="text-[14px] font-semibold text-slate-700 dark:text-gray-100">{{ skill.name }}</span>
                            </div>
                            <div class="h-1.5 w-full bg-slate-200 overflow-hidden">
                                 <div class="h-full" [ngClass]="skill.color" [style.width.%]="skill.level"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      <!-- BACKEND SKILLS -->
            <div class="bg-[rgb(243,200,221)]/10 p-6 rounded-2xl border border-[rgb(243,200,221)] shadow-sm dark:bg-slate-800">
                <h2 class="text-2xl font-bold mb-6 flex items-center gap-3 text-[rgb(209,131,169)]">
                    <span class="material-symbols-outlined text-[25px] text-[rgb(209,131,169)]">dns</span>
                       {{ 'PROFILE.skills_back' | translate }}
                </h2> 
                <div class="flex flex-col sm:flex-row gap-6 items-start">

                    <div class="grid grid-cols-3 sm:grid-cols-2 gap-3 w-fit mx-auto sm:w-[190px]">
                        <img src="c++.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                        <img src="python.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                        <img src="php.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                        <img src="nodejs.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                        <img src="java.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                        <img src="odoo.png" class="w-12 h-12 sm:w-14 sm:h-14 object-contain rounded-lg">
                    </div>

                    <div class="w-full space-y-2">
                        <div class="group" *ngFor="let skill of backendSkills">
                            <div class="flex justify-between items-center mb-1">
                                <span class="text-[14px] font-semibold text-slate-700 dark:text-gray-100">
                                    {{ skill.name }}
                                </span>
                            </div>

                            <div class="h-1.5 w-full bg-slate-200  overflow-hidden">
                                <div
                                    class="h-full"
                                    [ngClass]="skill.color"
                                    [style.width.%]="skill.level">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>

      <!-- TOOLS & DEVOPS -->
            <div class="bg-[rgb(243,200,221)]/10 p-6 rounded-2xl border border-[rgb(243,200,221)] shadow-sm dark:bg-slate-800">
                <h2 class="text-2xl font-bold mb-6 flex items-center gap-3 text-[rgb(209,131,169)]">
                    <span class="material-symbols-outlined text-[25px]">build</span>
                         {{ 'PROFILE.tools' | translate }}
                </h2>
                <div class="flex flex-wrap gap-3">
                    <div *ngFor="let tool of tools" class="px-4 py-2 rounded-lg bg-white dark:bg-slate-800 
                                border border-[rgb(243,200,221)] 
                                text-sm font-medium 
                                hover:scale-105 transition duration-300 cursor-default">
                            {{ tool.name }}
                    </div>
                </div>
            </div>

        </div>

    </div>
    

</section>